.navbar, footer {
    background-color: red !important ;
}
.grilla{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 24px;
}
.contenido, .anuncio {
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

@media (max-width: 800px){
    .grilla{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 12px;
    }
}
.anuncio {

}